.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000; /* 눈이 편한 회색 배경 */
    font-family: sans-serif;
}

h1 {
    margin-bottom: 20px;
    color: #fff;
}

.row {
    display: flex;
}

.square {
    width: 60px;
    height: 60px;
    background: #fff;
    border: 1px solid #999;

    margin-top: -1px;
    margin-right: -1px;

    font-size: 40px;
    font-weight: bold;
    color: #000;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    padding: 0;
}

.square:hover {
    background-color: #eee;
}

.game-info ol {
    padding-left: 30px;
}
